@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

@font-face {
    font-family: 'Major Mono Display';
    src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

:root {
    /* Style One */
    --tea-green: #c6ebbeff;
    --turquoise-green: #a9dbb8ff;
    --pewter-blue: #7ca5b8ff;
    --blue-pigment: #38369aff;
    --phthalo-blue: #020887ff;
}

html, body {
    background-color: rgb(48, 47, 47);
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#name {
    font-size: 6em;
    color: rgb(255, 255, 255);
}

#about-me {
    background-color: var(--phthalo-blue);
    color: white;
}

#about-me p {
    font-size: 1.2em;
    font-family: 'Major Mono Display', monospace;
}

.web-development {
    background-color: rgb(75, 9, 230);
    color: white;
}

.python-development{
    background-color: var(--blue-pigment);
    color:white;
}

.Minecraft{
    background-color: rgb(75, 9, 230);
    color: white;
}


#my-experience-text {
    color: dodgerblue;
    font-style: italic;
    font-weight: bold;
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }

.display-grid {
    display: grid;
    position: relative;
    overflow: hidden;
    height: 450px;
}

.content-container {
    margin: auto 100px;
    position: relative;
    left: 0;
    transition: all 2s ease;
}

.slider {
    position: absolute;
    left: -450px;
    width: 400px;
    height: 450px;
    background: slategray;
    transition: all 2s ease;
}

.slider-active {
    transition: all 2s ease;
    left: 0;
}

.content-container-active {
    transition: all 2s ease;
    left: 450px;
}

.display-grid-active {
    border: 0 !important;
}

.display-grid:hover {
    transition: 0.5s;
    border-left: 20px solid yellowgreen;
}

.card {
    width: fit-content;
}

.seven-five-margin {
    margin: 7.5%;
}

#in-development {
    margin: 2%;
    margin-left: 7.5%;
}

.language {
    color: deepskyblue;
}

.fa-github, .fa-at {
    font-size: 3em;
    color: dodgerblue;
}

.fa-github:hover, .fa-at:hover {
    color: white;
}

i {
    padding: 15%;
}

.footer-icons, .footer-contacts {
    margin: 1.5%;
}

.made-by-me {
    color: white;
    font-size: 1.25em;
}

.btn-outline-info {
    background-color: white;
}

.image-align {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }

.image-container {
    display: flex;
    align-items: center;
    background-color: #00a2ff;
}

.modal-content, .modal-body{
    color: steelblue;
    font-family: 'Baloo Chettan 2', cursive;
}

.inner-modal-body {
    display: flex;
    flex-direction: column;
}

.inner-modal-body a div h5 {
    font-style: bold;
    font-size: 2em;
}

.inner-modal-body > * {
    margin-bottom: 5%;
}

i {
    padding: 5px;
}

.no-wrap {
    transition: all 2s ease;
    white-space: nowrap;
}

/* Screen Size */
@media (max-width: 479px){
    .content-container {
        margin: auto 25px;
        position: relative;
        left: 0;
        transition: all 2s ease;
    }

    .display-grid {
        height: 500px;
        margin: auto 0;
    }
}